.title_categoria{
    text-align:center;
    color:hsl(192, 100%,9%);
    font-size:3.4rem;
    font-weight: 500;
    /* font-style: italic; */
    text-shadow: white 0.1em 0.1em 0.2em;
}

.img__container{
    text-align: center;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 2.5%;
    background:100% no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 5px 6px 28px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 29px 15px rgba(0,0,0,0.75);
    box-shadow: 5px 2px 29px 15px rgba(0,0,0,0.75);
    /* object-fit: cover; */
}

.img__Camisas{
    width:50%;
    height:60vh;
    background: url(../images/products/camisa_BGO/BGO_Principal.jpeg) no-repeat;
    background-size:100%;
}

.container__error{
    background-color:hsl(192, 100%,9%);
    width:100%;
    padding:2rem;
    margin-top:3rem;
    border-radius:15px;
    border:solid 1px #bbb2;
    -webkit-box-shadow: 7px 6px 48px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 48px 20px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 48px 20px rgba(0,0,0,0.75);
}
#errori-text{
    color: white;
    margin-left: 2%;
    font-size: 4vh;
}
.img-error{
    height: 60px;
    width: auto;
}

.disponible{
    color:rgba(4, 202, 4, 0.85);
}

.no_disponible{
    color:rgb(252, 54, 54);
}

.btn_añadir{
    text-align:center;
    margin-bottom:1rem;
}