.title_categoria{
    text-align:center;
    color:#0009;
    font-size:3rem;
    font-weight: 500;
    font-style: italic;
}

.img__container{
    text-align: center;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 2.5%;
    background:no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: 5px 6px 28px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 29px 15px rgba(0,0,0,0.75);
    box-shadow: 5px 2px 29px 15px rgba(0,0,0,0.75);
    /* object-fit: cover; */
}

.img__Camisas{
    width:50%;
    height:60vh;
    background: url(../images/products/camisa_BGO/BGO_Principal.jpeg) no-repeat;
    background-size:100%;
}

.container__error{
    width:100%;
    padding:2rem;
    margin-top:3rem;
    border-radius:15px;
    border:solid 1px #bbb2;
    -webkit-box-shadow: 7px 6px 48px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 48px 20px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 48px 20px rgba(0,0,0,0.75);
}



