@font-face {
  font-family: "CheddarGothic";
  src: local("CheddarGothic"),
    url(../../assets/scss/CheddarGothic-Stencil.otf) format("truetype");
}
.slider-div {
  display: block;
  position: relative;
  text-align:center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 15vh;
  font-family: CheddarGothic;
}
.awssld__content > img{
  opacity: 0.5;
}
/* 
.hijo {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 5vh;
  margin:50px auto;
} */
.awssld,
.awssld__wrapper,
div.awssld__box,
div.awssld__container {
  height: 300px !important;
}
.awssld__container {
  padding-bottom: 20px;
}
.awssld__bullets{
    padding-bottom: 50px;
    margin-bottom: 10px;
}