.container__list-popular, .container__list-recomended{
    margin-top:2rem;
    padding:1rem;
    border-radius:0.75rem;
    background:white;
}

.list__popular, .list__recomended{
    width:100%;
    display:flex;
    flex-wrap: wrap;
}

.img_most{
    height: 200px!important;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width:1000px){
    .img_most{
        height: auto!important;
        width: 100%;
        object-fit: cover;
    }
    
}